html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color:white;
}
p{
    font-family: cursive;
}
h1,h2,h3{
    font-family: 'PS Commons';
}
nav{
    width: 1400px;
}
.body-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px 280px;
    width: 80%;
}
.body-container img{
    margin: 10px;
}
aside{
    margin: 20px;
    border-radius: 10px;
    background-color: #1f1f1f;
    float: left;
    position: sticky;
    top:100px;
    width: 250px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside a{
    font-size: 20px;
    margin-top: 20px;
    color: #fd6228;
}