body p,li,h1{
    font-family:sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.down{
    position: sticky;
    top: 710px;
    right: 10px;
    bottom: 0;
    float: right;
}
.down img{
    height: 150px;
    animation-name: round;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes round{
    0%{transform: scale(1,1) rotate(-6deg,10deg);}
    50%{transform:scale(1.2,1.2) rotate(10deg);}
}
.logo input{
    position: relative;
    right: 110px;
    top: 400px;
    opacity: 1;
}
/* .radio{
    transform:scale(12,4);
} */
.basket{
    background-color:  white;
    height: 60px;
}
.radio:checked ~ .basket{
    opacity: 0;
  animation: bas 8s ease forwards;
}
@keyframes bas{
    0%{opacity:1; position: relative;left:-100px;}
    50%{opacity: 0;}
    60%{opacity: 1;}
    100%{opacity: 0;left:1200px;}
}
.intro-land{
    position: relative;
    bottom: 30px;
    margin: 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c1d1f;
    border-radius: 24px;
    height: 400px;
    width: 80%;
}
.intro-land .check{
    display: flex;
}
.check img{
    margin-left: 20px;
}
.check img{
    opacity: 0;
    visibility: visible;
}
.check input:checked ~img{
    animation-name: drag;
    animation-duration: 3s;
    animation-fill-mode: both;
}
@keyframes drag{
    0%{transform: translateY(0px);opacity: 1;}
    60%{transform: translateX(400px);opacity: 1;}
    70%{transform: translateX(800px);  opacity: 0;}
    70%{transform: translate(800px,200px);opacity: 0;}
}
.intro-land .img{
  border-radius: 10px;
  width: 350px;
  height: 300px;
}
button{
    cursor: pointer;
    color:white;
    border: 1px solid #fd6228;
    background-color: #fd6228;
    padding: 12px 20px;
}
.learning{
    border-radius: 10px;
    margin: 150px 50px 0 50px;
    background-color:  #1c1d1f;
}
.learning h1{
    text-align: center;
    padding: 10px;
}
.learning p{
    font-size: 17px;
}
.learning .learn{
    padding: 30px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.learning .learn img{
    height: 25px;
    width: 25px;
}
.learning .learn .line{
    display: flex;
}
.who{
    margin: 150px 150px 0 150px;
    background-color: #1c1d1f;
    border-radius: 24px;
    height: 300px;
    width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.who ul{
    line-height: 30px;
}